<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin-bottom: .7rem;">
                <div class="col-md-4">
                    <button class="btn btn-sm btn-link" type="button"><i class="fa fa-plus"></i> Create</button>
                </div>
                <div class="col-md-4">
                    
                </div>
                <div class="col-md-4">
                    <div class="input-group">
                        <input type="text" class="form-control form-control-sm">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-search"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th width="3%">#</th>
                        <th>Prop. Code</th>
                        <th>Property Name</th>
                        <th>Type</th>
                        <th>Project</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>AZ-1</td>
                        <td>Azure Condo</td>
                        <td>Condo</td>
                        <td>Azure</td>
                        <td>Bicutan</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>CA-1</td>
                        <td>Camella House</td>
                        <td>House and Lot</td>
                        <td>Camella</td>
                        <td>Cavite</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>